*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* body{
    background-image: url("../img/mercado.jpg");
  background-color: #cccccc; 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

#container{
    background-color: azure;
    width: 60%;
    height: 450px;
    display: grid;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid black;
}

#form-edit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-top: 50px;
}

h3{
    text-align: center;
    font-weight: bolder;
    padding: 30px;
    margin-bottom: -80px;
}

#form-edit div{
    display: grid;
    grid-template-rows: 1fr;
    padding: 20px;
}

#form-edit div input{
    padding: 5px 20px;
    border-radius: 10px;
    border: 3px solid black;
}

label{
    font-weight: bold;
}

.button{
    margin: 0 auto;
    padding: 10px;
    color: cadetblue;
    border: 2px solid black;
    border-radius: 6px;
    justify-items: left;
    font-size: 16px;
    font-weight: bold;
}

.botao{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}